.container-01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container-02{
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dice {
  text-align: center;
  width: ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.button{
  font-size: 2rem;
  width: 50%;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  padding: 1%;
  border: 2px solid #4ECCA3;
  border-radius: 25px;
  margin: 2%;
}
.button:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}